/* <img src="https://img.icons8.com/flat_round/64/000000/share--v1.png" / style="width: 32px;"> */
header , footer, button{
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
}
#centerText{
    /* padding-top: 50%; */
    margin: 0 auto;
    width: 450px;
    padding-top: 200px;
    color:white;
    
}

