/* <img src="https://img.icons8.com/flat_round/64/000000/share--v1.png" / style="width: 32px;"> */
header , footer, button{
    text-transform: uppercase;
    font-weight: bold;
}
a body{
    font-family: 'Open Sans Condensed', sans-serif;
}

#centerText{
    padding-top: 100px;
    margin: 0 auto;
    width: 90%;
    color:white;
    /* border:3px tomato dashed; */
    
}
.modal{
    font-family: 'Fondamento', cursive;
}
/* .modal-content{
    background: cornflowerblue;
    color: white;
} */
#centerText h1{
    margin: 0 auto;
}

@media screen and (width: 480px) {
    .centre-image{
        width: 50%;
    }
  }

