/* <img src="https://img.icons8.com/flat_round/64/000000/share--v1.png" / style="width: 32px;"> */
header , footer, button{
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

#centerText{
    padding-top: 100px;
    padding-left: 100px;
    margin: 0 auto;
    width: 90%;
    color:white;
    /* border:3px tomato dashed; */
    
}
#centerText h1{
    margin: 0 auto;
}

