<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">
    <title>Share Him</title>
</head>

<body>
    <header id="bg-header">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
              <a class="navbar-brand" href="#"><img src="https://img.icons8.com/flat_round/64/000000/share--v1.png" / style="width: 32px;"> Share Him</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto mb-2 mb-md-0">
                  <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="#">people</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Report</a>
                  </li>
                  <!-- <li class="nav-item">
                      <button class="btn btn-dark">Login</button>
                  </li> -->
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><button class="btn btn-primary">login &#8594;</button></a>
                    </li>
                </ul>
              </div>
            </div>
          </nav>
          <div id="centerText">
            <h1>
            <img src="https://img.icons8.com/flat_round/128/000000/share--v1.png">Share Him
          </h1>
          </div>
    </header>
    {% block body %} {% endblock %}
    <footer style="background-color: darkgrey;">
        <div class="footer-copyright text-center">© 2020 Copyright:
            <a href="https://mdbootstrap.com/" style="color: white;"> Share Him</a>
        </div>
    </footer>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

</body>

</html>